Imports

In [18]:
import pandas as pd

Convert raw data to tidy format

In [19]:
# Load the data
df = pd.read_csv('RHODFF all results.csv')

In [20]:
# Melt the dataframe to a long format
tidy_df = df.melt(id_vars='SECONDS', var_name='Condition', value_name='Values')

# Rename the 'SECONDS' column to 'Time (sec)'
tidy_df = tidy_df.rename(columns={'SECONDS': 'Time (sec)'})

# Remove dots and stars from data
tidy_df['Condition'] = tidy_df['Condition'].str.replace(r'\.\w{1,2}$', '', regex=True)
tidy_df['Values'] = tidy_df['Values'].astype(str).str.replace(r'\*', '', regex=True)

tidy_df.to_csv('RHODFF_for_plotting.csv')

tidy_df

      Time (sec)   Condition    Values
0             30          GC  0.903648
1             60          GC  0.900182
2             90          GC   0.91157
3            120          GC  0.890279
4            150          GC  1.163601
...          ...         ...       ...
1123         120  Tyr 0.5 Um  1.279218
1124         150  Tyr 0.5 Um  2.236766
1125         180  Tyr 0.5 Um  2.279876
1126         210  Tyr 0.5 Um  2.334593
1127         240  Tyr 0.5 Um  2.461438

[1128 rows x 3 columns]